<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Adicionar Produto</h2>
    </div>
    <div class="card-body">
      <form (submit)="addProduct()" class="needs-validation" novalidate [class.was-validated]="form.valid" #form="ngForm">
        <div class="form-group">
          <label for="name">Nome do Produto</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="newProduct.name" name="name" required #name="ngModel">
          <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
            Por favor, insira o nome do produto.
          </div>
        </div>
        <div class="form-group">
          <label for="price">Valor</label>
          <input type="number" class="form-control" id="price" [(ngModel)]="newProduct.price" name="price" min="0" required #price="ngModel">
          <div class="invalid-feedback" *ngIf="price.invalid && (price.dirty || price.touched)">
            Por favor, insira o valor produto.
          </div>
        </div>
        <div class="form-group">
          <label for="productType">Tipo de Produto</label>
          <select class="form-control" id="productType" [(ngModel)]="newProduct.product_type_id" name="productType" required #productType="ngModel">
            <option *ngFor="let type of productTypes" [value]="type.id">{{ type.name }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="productType.invalid && (productType.dirty || productType.touched)">
            Por favor, selecione o tipo de produto.
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Adicionar</button>
      </form>
    </div>
  </div>
</div>
